@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

:root{
    --Dark-Grayish-Red: hsl(0, 6%, 24%);
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: grid;
    grid-template-columns: 4fr 3fr;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    overflow: hidden;
}

.text{
    display: grid;
    grid-template-rows: 10% 40% auto auto;
    padding: 5rem;
    grid-gap: 2rem;
    position: relative;
}

img{
    min-width: 100%;
}

.time-text{
    text-transform: uppercase;
    line-height: 5rem;
    letter-spacing: 1rem;
    font-size: 4rem;
}


.time-text span{
    color: var(--Desaturated-Red);
    font-weight: 300;
}

.description-text{
    width: 80%;
}

.description-text p{
    letter-spacing: 2px;
    font-size: 0.8rem;
    line-height: 1.5rem;
    color: var(--Desaturated-Red);
}

.email {
    width: 60%;
    padding: 17px 30px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 30px;
    box-sizing: border-box;
}

.submit-btn{
    border: none;
    color: white;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    position: relative;
    top: 5px;
    right: 106px;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0 1rem 2rem hsl(0deg 93% 68% / 30%);
}

@media only screen and (max-width: 899px){
    main{
        grid-template-columns: auto;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
            "image"
            "text"
        ;
    }

    .text{
        grid-area: text;
    }
}